@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    /* Hide everything by default */
    body * {
        visibility: hidden;
    }
    
    /* Make the report container and its children visible */
    #rapor-container, #rapor-container * {
        visibility: visible;
    }
    
    /* Position the report at the top of the page */
    #rapor-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /* Hide elements with the 'no-print' class */
    .no-print {
        display: none !important;
    }
}